header.headBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 3;

  .hamburger {
    float: left;
  }

  .infos {
    float: right;
  }
}
