header.headBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  z-index: 900;
  @include transition(background 250ms);

  .primary-header-btn {
    float: left;
  }

  .infos {
    float: right;
  }
}

.page header.headBar .infos {
  display: none;
}
