.sideMenu-active {
  transform: translate3d($sideMenuWidth, 0, 0);
}

.sideInfos-active {
  transform: translate3d(-$sideMenuWidth, 0, 0);
}
  
.sideMenu-active, .sideInfos-active {
  overflow: hidden; 
  
  .overlayGlobal {
    visibility: visible;
    opacity: 1;
  }
}

.overlayGlobal {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  opacity: 0;
  transition: all 250ms;
  visibility: hidden;
}

aside.sidemenu {
  position: fixed;
  top: 0;
  left: -$sideMenuWidth;
  width: $sideMenuWidth;
  height: 100%;
  background: $colorDarkest;
  box-shadow: -3px 0px 0px rgba(0,0,0,.3) inset;
  box-sizing: border-box;

  h4 {
    font-size: 1em;
    margin-bottom: 15px;

    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 4px;
      background-color: $colorSecondary;
      margin-top: 15px;
    }
  }

  .arbo {
    li a {
      padding: 15px 0px;
      padding-left: 20px;
      display: block;
      background-color: #1E2544;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      margin: 10px 0px;
      margin-right: 40px;
      color: $colorWhite;
    }

    li:last-child a {
      border-bottom: 0;
    }
  }

  .socialLinks li {
    padding: 10px;
    padding-left: 0;

    a {
      color: $colorSecondary;

      span {
        color: $colorPrimary;
        margin-right: 10px;
        width: 20px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

aside.sideinfos {
  position: fixed;
  top: 0;
  right: -$sideMenuWidth;
  width: $sideMenuWidth;
  height: 100%;
  background: $colorDarkest;
  box-shadow: 3px 0px 0px rgba(0,0,0,.3) inset;
  box-sizing: border-box;

  h4 {
    font-size: 1em;
    margin-bottom: 15px;

    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 4px;
      background-color: $colorSecondary;
      margin-top: 15px;
    }
  }
  
}
