.slider {
  width: 100%;
  display: inline-block;
  position: relative;

  ul {
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;

    div img {
      width: 100%;
      height: auto;
      visibility: hidden;
    }

    li {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      @include opacity(0);
      z-index: 1;
      overflow: hidden;
      @include transition(opacity 2000ms ease);

      img {
        width: 100%;
      }

      &.slide1 {
        @include animation(slider 12000ms infinite -2000ms);
      }

      &.slide2 {
        @include animation(slider 12000ms infinite 2000ms);
      }

      &.slide3 {
        @include animation(slider 12000ms infinite 6000ms);
      }
    }
  }
}
