//
// -------------------------------- [KEYFRAMES] --------------------------------
//
@-webkit-keyframes slider {
  0%,
  50%,
  100% {
    @include opacity(0);
    z-index: 2;
  }

  16.666666666666668%,
  33.333333333333336% {
    @include opacity(1);
    z-index: 2;
  }
}

@-moz-keyframes slider {
  0%,
  50%,
  100% {
    @include opacity(0);
    z-index: 2;
  }

  16.666666666666668%,
  33.333333333333336% {
    @include opacity(1);
    z-index: 2;
  }
}

@-ms-keyframes slider {
  0%,
  50%,
  100% {
    @include opacity(0);
    z-index: 2;
  }

  16.666666666666668%,
  33.333333333333336% {
    @include opacity(1);
    z-index: 2;
  }
}

@-o-keyframes slider {
  0%,
  50%,
  100% {
    @include opacity(0);
    z-index: 2;
  }

  16.666666666666668%,
  33.333333333333336% {
    @include opacity(1);
    z-index: 2;
  }
}

@keyframes slider {
  0%,
  50%,
  100% {
    @include opacity(0);
    z-index: 2;
  }

  16.666666666666668%,
  33.333333333333336% {
    @include opacity(1);
    z-index: 2;
  }
}

@-webkit-keyframes rotation {
  0%   {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0%   {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@-ms-keyframes rotation {
  0%   {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@-o-keyframes rotation {
  0%   {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@keyframes rotation {
  0%   {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@-webkit-keyframes upInfos {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 98vh;
  }
}

@-moz-keyframes upInfos {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 98vh;
  }
}

@-ms-keyframes upInfos {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 98vh;
  }
}

@-o-keyframes upInfos {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 98vh;
  }
}

@keyframes upInfos {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 98vh;
  }
}

