//
// -------------------------------- [VARIABLES] --------------------------------
//

/* SIZES */

$sideMenuWidth: 80%;


/* COLORS */

$colorWhite: #fff;
$colorBlack: #333;

$colorDarkest: #141A33;
$colorDark: #1E2544;

$colorPrimary: #ed384e;
$colorSecondary: #bafef3;
$colorThirdary: #faf0e7;
