.excerpt {
  font-family: 'latohairline';
  font-style: italic;
  font-size: 1.2em;
  max-width: 90%;
  margin: auto;
  display: none;
}

@media screen and (min-height: 540px) {
  .excerpt {
    display: block;
  }
}

.headBar .logo {
  display: block;
  width: 150px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 100ms;
}

.page .headBar { 
  background: rgba(20,26,51,.9);
  
  .logo {
    top: 0;
    width: 40px;
    transform: translate(-50%, 20px);
  }
}


//
// ---------------------------------- [HOME] ----------------------------------
//
section.home {

  // start btn
  .start-btn {
    margin-bottom: 40px;
  }
}


//
// ---------------------------------- [FOOTER BAR] ----------------------------------
//

.footerBar {
  position: relative;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
}

.footerBar:before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: beige;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
}

.tuto-swipe {
  padding: 30px 0;
}


.dimensions-select {
  width: 300vw;
  left: 0;
  bottom: 100px;
  top: inherit;
  transform: translateX(33%);
  transition: transform 200ms ease-in-out;

  &.t0 {

    transform: translateX(0);

  }
  
  &.t1 {

    transform: translateX(-33%);

  }
  
  &.t2 {

    transform: translateX(-66%);

  }
  
  > li {
    float: left;
    width: 100vw;
    text-align: center;
    
    a {

      font-size: 20px;
      color: #fff;
      font-weight: 700;

    }

  }
}


body.selector {
  overflow: hidden;
  
}