//
// ---------------------------- [MULTIDIMENSIONAL] -----------------------------
//
section.dimension > .content {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;

  // --- HEADER ---
  header {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;

    .color-filter {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      background-color: rgba(20, 26, 51, .5);
    }

    .bg1 {
      background: url('../images/d1-2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .bg2 {
      background: url('../images/d2-3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .bg3 {
      background: url('../images/d3-1.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    h1 {
      width: 55vw;
      top: 65vh;
      left: 10vw;
      position: absolute;
      font: 2em 'latoregular', sans-serif;
      line-height: 8vh;
      z-index: 150;

      &.md1 {
        top: 55vh;
      }

      &.md2 {
        top: 55vh;
      }

      &.md3 {
        top: 50vh;
      }
    }

    .infos {
      left: 10vw;
      bottom: 10vh;
      position: absolute;
      vertical-align: middle;
      z-index: 150;

      .circle {
        margin: 0 2vw 0 0;
        font-size: 1.3em;
        color: $colorSecondary;
      }

      .separator {
        margin: 0 5vw;
      }

      .soon {
        color: $colorSecondary;
        text-transform: uppercase;
      }
    }
  }


  // --- INFORMATIONS ---
  .informations {
    margin-top: 100vh;
    position: relative;
    background: $colorWhite;
    z-index: 300;
    @include translate3d(0,0,0);
    @include animation(upInfos 1s linear 1s);
    @include animation-both();

    &.withoutHeader {
      margin-top: 60px;
      @include animation(none);
      
      h2 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
      }
    }

    .bloc-info {
      padding: 7vh 10vw;

      h3 {
        text-transform: uppercase;
        font-size: 1.4em;
        line-height: 1.5em;
        color: $colorMultidimensionalText;
        margin: 0 0 12px 0;
      }

      p {
        color: $colorMultidimensionalText;
        font: 1.2em 'latoitalic', sans-serif;
        line-height: 1.5em;

        b {
          font-weight: bold;
        }

        a {
          color: $colorPrimary;
          text-decoration: none;
        }

        &.margin {
          margin: 3vh 0 0;
        }
      }
    }

    .video {
      video {
        width: 100%;
        height: auto;
        margin: 0 0 10px;
      }

      p {
        color: $colorDarkest;
        font: 1em 'latoitalic', sans-serif;
        text-align: center;
      }
    }

    .statistics {
      margin: 0 10vw;
      border-top: 2px solid $colorMultidimensionalSeparator;
      border-bottom: 2px solid $colorMultidimensionalSeparator;
      position: relative;

      .number {
        width: 30vw;
        color: $colorPrimary;
        font: 5em 'latobold', sans-serif;
        position: relative;
      }

      .description {
        width: 45vw;
        top: 4vh;
        left: 35vw;
        position: absolute;
        font: 1em 'latoitalic', sans-serif;
        line-height: 1.5em;
        color: $colorMultidimensionalText;

        b {
          font-weight: bold;
        }
      }
    }

    .data-visualization {
      background: $colorDarkest;
      position: relative;
      padding: 7vh 0;
      text-align: center;

      .circle {
        width: 70px;
        height: 70px;
        margin: 0 5vw;
        display: inline-block;
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        line-height: 74px;
        font-size: 1.2em;
        position: relative;

        &.top:before {
          border-top-color: $colorSecondary;
        }

        &.right:before {
          border-right-color: $colorSecondary;
        }

        &.bottom:before {
          border-bottom-color: $colorSecondary;
        }

        &.left:before {
          border-left-color: $colorSecondary;
        }

        &.speed1:before {
          @include animation(rotation 3s linear infinite);
        }

        &.speed2:before {
          @include animation(rotation 2s linear infinite);
        }

        &.speed3:before {
          @include animation(rotation 1s linear infinite);
        }

        &:before {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, .3);
        }

        &.first {
          margin: 0 5vw 0 0;
        }

        &.last {
          margin: 0 0 0 5vw;
        }

        .small {
          font-size: .4em;
        }
      }

      .title {
        margin: 10px 0 0 0;
        font: .8em 'latoitalic', sans-serif;

        li {
          width: 74px;
          margin: 0 5vw;
          display: inline-block;
          text-align: center;
          overflow: hidden;

          &:first-child {
            margin: 0 5vw 0 0;
          }

          &:last-child {
            margin: 0 0 0 5vw;
          }
        }
      }
    }
  }


  // --- FOOTER ---
  footer {
    position: relative;
    text-align: center;
    background: $colorDarkest;
    z-index: 200;
    @include translate3d(0,0,0);

    .content {
      padding: 7vh 10vw;

      .share {
        h4 {
          font: 1em 'latoitalic', sans-serif;
          text-transform: none;
        }

        .socialBtn {
          text-align: center;

          .circle-btn {
            width: 80px;
            height: 80px;
            margin: 3vh 5vw;
            display: inline-block;
            border: 2px solid $colorPrimary;
            border-radius: 50%;
            font-size: 1.8em;
            line-height: 84px;
            color: $colorSecondary;
            position: relative;
            z-index: 225;

            a {
              width: 80px;
              height: 80px;
              top: -2px;
              left: -2px;
              border: 2px solid transparent;
              border-radius: 50%;
              display: block;
              position: absolute;
              z-index: 250;
            }
          }
        }

        /*ul li {
          width: 80px;
          height: 80px;
          margin: 3vh 15px 10vh;
          display: inline-block;
          border: 2px solid $colorPrimary;
          border-radius: 50%;
          font-size: 1.8em;
          line-height: 84px;
          color: $colorSecondary;
        }*/
      }

      .separator {
        width: 7vw;
        height: 5px;
        background: $colorWhite;
        margin: 0 auto 7vh;
      }

      .circle {

        &.first {
          margin: 0 5vw 0 0;
        }

        &.last {
          margin: 0 0 0 5vw;
        }
        //clip: rect(0px, 50px, 100px, 0px);
      }

      .contest {

        h4 {
          font-size: .9em;
          letter-spacing: .2em;
        }

        .btn-contest {
          text-transform: uppercase;
        }
      }
    }

    .bottom {
      padding: 7vh 0;

      p {
        font-family: 'latoitalic', sans-serif;
        margin: 0 0 5px 0;
      }

      h3 {
        font-size: 1.3em;
      }

      &.bg1 {
        background: url('../images/d2-1.jpg') center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
      }

      &.bg2 {
        background: url('../images/d3-2.jpg') center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
      }

      &.bg3 {
        background: url('../images/d1-2.jpg') center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
      }
    }
  }
}
