//
// ---------------------------- [MULTIDIMENSIONAL] -----------------------------
//
section.dimension .content {
  overflow: hidden;

  // --- HEADER ---
  header {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;

    .color-filter {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      background-color: rgba(20, 26, 51, .5);
    }

    .bg1 {
      background: url('../images/d1-header.jpg') no-repeat center center fixed;
      background-size: cover;
    }

    .bg2 {
      background: url('../images/d1-header.jpg') no-repeat center center fixed;
      background-size: cover;
    }

    .bg3 {
      background: url('../images/d1-header.jpg') no-repeat center center fixed;
      background-size: cover;
    }

    h1 {
      width: 40vw;
      top: 65vh;
      left: 10vw;
      position: absolute;
      font: 2em 'latoregular', sans-serif;
      line-height: 8vh;
      z-index: 150;
    }

    .infos {
      left: 10vw;
      bottom: 10vh;
      position: absolute;
      vertical-align: middle;
      z-index: 150;

      .circle {
        margin: 0 2vw 0 0;
        font-size: 1.3em;
        color: $colorSecondary;
      }

      .separator {
        margin: 0 7vw;
      }

      .soon {
        color: $colorSecondary;
        text-transform: uppercase;
      }
    }
  }


  // --- INFORMATIONS ---
  .informations {
    margin-top: 100vh;
    position: relative;
    background: $colorWhite;
    z-index: 300;
    transform: translate3d(0,0,0);

    .bloc-info {
      padding: 7vh 10vw;

      p {
        color: $colorMultidimensionalText;
        font: 1.2em 'latoitalic', sans-serif;
        line-height: 1.5em;

        b {
          font-weight: bold;
        }

        a {
          color: $colorPrimary;
          text-decoration: none;
        }

        &.margin {
          margin: 3vh 0 0;
        }
      }
    }

    .video {
      video {
        width: 100%;
        height: auto;
        margin: 0 0 10px;
      }

      p {
        color: $colorDarkest;
        font: 1em 'latoitalic', sans-serif;
        text-align: center;
      }
    }

    .statistics {
      margin: 0 10vw;
      border-top: 2px solid $colorMultidimensionalSeparator;
      border-bottom: 2px solid $colorMultidimensionalSeparator;
      position: relative;

      .number {
        width: 40vw;
        color: $colorPrimary;
        font: 5em 'latobold', sans-serif;
        position: relative;
      }

      .description {
        width: 37vw;
        top: 4vh;
        left: 43vw;
        position: absolute;
        font: 1em 'latoitalic', sans-serif;
        line-height: 1.5em;
        color: $colorMultidimensionalText;
      }
    }

    .data-visualization {
      background: $colorDarkest;
      position: relative;
      padding: 7vh 0;
      text-align: center;

      .circle {
        width: 70px;
        height: 70px;
        margin: 0 5vw;
        display: inline-block;
        border: 2px solid $colorSecondary;
        //border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 50px;
        line-height: 74px;
        font-size: 1.2em;

        &.first {
          margin: 0 5vw 0 0;
        }

        &.last {
          margin: 0 0 0 5vw;
        }
        //clip: rect(0px, 50px, 100px, 0px);
      }

      .title {
        margin: 10px 0 0 0;
        font: .8em 'latoitalic', sans-serif;

        li {
          width: 74px;
          margin: 0 5vw;
          display: inline-block;
          text-align: center;
          overflow: hidden;

          &:first-child {
            margin: 0 5vw 0 0;
          }

          &:last-child {
            margin: 0 0 0 5vw;
          }
        }
      }
    }
  }


  // --- FOOTER ---
  footer {
    position: relative;
    text-align: center;
    background: $colorDarkest;
    z-index: 200;
    transform: translate3d(0,0,0);

    .content {
      padding: 7vh 10vw;

      .share {
        h4 {
          font: 1em 'latoitalic', sans-serif;
          text-transform: none;
        }

        .socialBtn {
          text-align: center;

          .circle-btn {
            width: 80px;
            height: 80px;
            margin: 3vh 5vw;
            display: inline-block;
            border: 2px solid $colorPrimary;
            border-radius: 50px;
            font-size: 1.8em;
            line-height: 84px;
            color: $colorSecondary;
          }
        }

        /*ul li {
          width: 80px;
          height: 80px;
          margin: 3vh 15px 10vh;
          display: inline-block;
          border: 2px solid $colorPrimary;
          border-radius: 50%;
          font-size: 1.8em;
          line-height: 84px;
          color: $colorSecondary;
        }*/
      }

      .separator {
        width: 7vw;
        height: 5px;
        background: $colorWhite;
        margin: 0 auto 7vh;
      }

      .circle {

        &.first {
          margin: 0 5vw 0 0;
        }

        &.last {
          margin: 0 0 0 5vw;
        }
        //clip: rect(0px, 50px, 100px, 0px);
      }

      .contest {

        h4 {
          font-size: .9em;
          letter-spacing: .2em;
        }

        .btn-contest {
          text-transform: uppercase;
        }
      }
    }

    .bottom {
      padding: 7vh 0;

      p {
        font-family: 'latoitalic', sans-serif;
        margin: 0 0 5px 0;
      }

      h3 {
        font-size: 1.3em;
      }

      &.bg1 {
        background: url('../images/d1-footer.jpg') center center;
        background-size: cover;
      }

      &.bg2 {
        background: url('../images/d1-footer.jpg') center center;
        background-size: cover;
      }

      &.bg3 {
        background: url('../images/d1-footer.jpg') center center;
        background-size: cover;
      }
    }
  }
}
