<section class="informations withoutHeader">
    <div class="bloc-info">
        <h2 class="inverted">About</h2>
        <p>Welcome to EMA Project, the world’s first travel agency specialized in <strong>parallel dimension</strong>. We are the first company which propose to our clients inter-dimensionnal trips. On board of our capsules, especially designed for the experience, our passengers will be able to <strong>discover new worlds</strong>, partially or totally different from our.</p>
    </div>
    <footer>
        <div class="content">
            <div class="contest">
                <h4>Win a trip !</h4>
                <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
            </div>
        </div>
    </footer>
</section>
