<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EMA Project Experience</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
    <link rel="stylesheet" href="assets/stylesheets/global.css">
</head>
<body>
    <div id="container">
        <div id="home">
            <div id="sideMenu">
                <nav>
                    <ul id="arbo">
                        <li><a href="#">About EMA</a></li>
                        <li><a href="#">Website</a></li>
                        <li><a href="#">Contest</a></li>
                    </ul>
                    <ul id="socialLinks">
                        <li><a href="#">FB</a></li>
                        <li><a href="#">TW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                
                <div class="headBar">
                    <div class="hamburger menuToggler">Menu</div>
                    <div class="infos">Informations</div>
                </div>
                
                <div class="position-center">
                    <h1 id="logo">EMA Project</h1>

                    <a class="btn btn-lg btn-primary" href="#">Start the experience</a>
                </div>
                
                <div class="footerBar">
                    <h4>Earn your trip</h4>
                    <a href="btn btn-secondary">#HASHTAG</a>
                </div>
            </div>
        </div>
        
        <div id="dimension">
            <div class="content">
                
            </div>
        </div>
    </div>

    <script src="/assets/javascripts/shared.js"></script>
    <script src="/assets/javascripts/app.js"></script>
</body>
</html>