<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EMA Project Experience</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
    <link rel="stylesheet" href="assets/stylesheets/main.css">
</head>
<body class="home">
    <div id="container">
        <div class="headBar">
            <div class="hamburger menuToggler">Menu</div>
            <div class="infos">Informations</div>

            <img id="logo" src="assets/images/logoblanc.png" alt=""/>
        </div>
        
        <div class="overlayGlobal"></div>
        
        <div id="home">
            <div id="sideMenu">
                <nav>
                    <h4 class="padding-standard margin-bottom-none">Menu</h4>
                    <ul id="arbo">
                        <li><a href="#">• About EMA</a></li>
                        <li><a href="#">• Website</a></li>
                        <li><a href="#">• Contest</a></li>
                    </ul>
                    
                    <div class="padding-standard stick-bottom">
                        <h4>Follow us</h4>
                        <ul id="socialLinks">
                            <li><a href="#"><span>FB</span>@ema_project</a></li>
                            <li><a href="#"><span>TW</span>fb/emaproject</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="content text-align-center stick-bottom">
                
                <p class="excerpt margin-bottom-standard">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                
                <a id="startBtn" class="btn btn-lg btn-primary" href="#">Start the experience</a>
                
                <div class="footerBar stick-bottom">
                    <h4>Win a trip !</h4>
                    <a class="btn btn-secondary btn-wide" href="">#myotherdimension</a>
                    <p>more info on <a href="http://www.emaproject.org/">www.emaproject.org</a></p>
                </div>
            </div>
        </div>
        
        <div id="dimension">
            <div class="content">
                
            </div>
        </div>
    </div>

    <script src="/assets/javascripts/shared.js"></script>
    <script src="/assets/javascripts/app.js"></script>
</body>
</html>