<header>
    <h1 class="md2">If... all the scales was reversed</h1>
    <div class="infos">
        <span class="circle">•</span>
        <span class="distance">#emaproject</span>
        <span class="separator">—</span>
        <span class="soon">soon</span>
    </div>
    <div class="color-filter"></div>
    <div class="bg2"></div>
</header>

<section class="informations">
    <div class="bloc-info">
        <p>Imagine a dimension <b>where all scales are reversed.</b> A world where all the tiny being would become giant and the giant one would be tiny.</p>
        <p class="margin">Here is the kind of landscape to whom you will be face if you choose this destination.</p>
    </div>

    <div class="statistics">
        <div class="number">11</div>
        <div class="description">number of <b>test drivers</b> having visited this dimension.</div>
    </div>

    <div class="bloc-info">
        <h3>News</h3>
        <p>In this dimension the <b>outside temperature</b> approaches 22 °, the <b>humidity</b> is today 23 %, and the <b>wind speed</b> is about 13km/hour.</p>
    </div>

    <div class="video">
        <video width="1920" height="1080" poster="assets/images/preview-video.jpg" controls preload>
            <source src="http://emaproject.gobelins-annecy.com/videos/ema_project_final_light.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
        </video>
        <p class="legend">EMA project's trailer</p>
    </div>

    <div class="bloc-info">
        <h3>Observations and possible meetings</h3>
        <p>In this dimension, you can observe giant bees or ladybuds and tiny whales and hippos. You can observe the new species which would be the strongest and the weakest.</p>
    </div>

    <div class="data-visualization">
        <div class="content">
            <div class="circle first bottom right speed2">22 °</div>
            <div class="circle top right speed2">23 %</div>
            <div class="circle last bottom speed1">13 <span class="small">km/h</span></div>
            <ul class="title">
                <li>temperature</li>
                <li>humidity</li>
                <li>wind speed</li>
            </ul>
        </div>
    </div>

    <div class="bloc-info">
        <h3>Safety regulations</h3>
        <p>Be careful ! <b>All the bugs are very dangerous,</b> don’t go outside the capsule, your chances to stay alive will be very small ! Trust us, you really don’t want to see you kidnapped by a preying mantis !</p>
    </div>

    <div class="slider autoplay">
        <ul>
            <div><img src="assets/images/preview-video.jpg" /></div>
            <li class="slide1">
                <img src="assets/images/d2-1.jpg" />
            </li>
            <li class="slide2">
                <img src="assets/images/d2-2.jpg" />
            </li>
            <li class="slide3">
                <img src="assets/images/d2-3.jpg" />
            </li>
        </ul>
    </div>

    <div class="bloc-info">
        <h3>Testimonies of test drivers</h3>
        <p><b>Adrian 22-year-old:</b><br/>"What I saw overtakes any understanding, I really thank the climatic phenomenon which allowed the cast iron of ices, to live in a similar world … How awful! That really allowed me to be more clement on the weather of our own dimension ! I would never be disappointed on a rainy day, I shall say to myself that that could be much worse!"</p>
        <p class="margin"><b>Vincent 41-year-old:</b><br/>"Being an real fan of the climatic phenomena, I was really excited at the idea of visiting a world where the ice age would not have come to an end ! And what I saw there did not disappoint me! The humanity always living with animal species present since the prehistory? That is what I was able to observe and trust me, it is really surprising!"</p>
    </div>
</section>

<footer>
    <div class="content">
        <div class="share">
            <h4>Share this amazing trip</h4>
            <div class="socialBtn">
                <div class="circle-btn icon-twitter"><a href="https://twitter.com/ema_project"></a></div>
                <div class="circle-btn icon-facebook"><a href="https://www.facebook.com/pages/EMA_Project/813429968735244"></a></div>
                <!-- <ul>
                     <li class="icon-twitter"></li>
                     <li class="icon-facebook"></li>
                 </ul>-->
            </div>
        </div>
        <div class="separator"></div>
        <div class="contest">
            <h4>Win a trip !</h4>
            <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
        </div>
    </div>
    <div class="bottom bg2 relative">
        <a href="" class="fullSizeLink dimensionLauncher" data-dimension="multidimensional-3"></a>
        <p>Discover an other dimension</p>
        <h3>2D World</h3>
    </div>
</footer>
