<header>
    <h1 class="md1">If... we lived in the ice age</h1>
    <div class="infos">
        <span class="circle">•</span>
        <span class="distance">#emaproject</span>
        <span class="separator">—</span>
        <span class="soon">soon</span>
    </div>
    <div class="color-filter"></div>
    <div class="bg1"></div>
</header>

<section class="informations">
    <div class="bloc-info">
        <p>Imagine you within a <b>universe where the ice age would never have come to an end</b>. A world where continents would not have derived and where <b>the prehistoric species would have survived…</b> Here is the kind of landscape to whom you will be face if you choose this destination.</p>
    </div>

    <div class="statistics">
        <div class="number">12</div>
        <div class="description">number of <b>test drivers</b> having already visited this dimension.</div>
    </div>

    <div class="bloc-info">
        <h3>News</h3>
        <p>In this dimension the <b>outside temperature</b> approaches 60 °, the <b>humidity</b> is 2 %, and the <b>wind speed</b> is about 220km / hour.</p>
    </div>

    <div class="video">
        <video width="1920" height="1080" poster="assets/images/preview-video.jpg" controls preload>
            <source src="http://192.168.31.24:8888/ema/video.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
        </video>
        <p class="legend">EMA project's trailer</p>
    </div>

    <div class="bloc-info">
        <h3>Observations and possible meetings</h3>
        <p>In this dimension, you can observe if the human race was able to survive and if its the case by which ways. You can observe <b>the present animal</b> species and their evolution in this hostile world. You will certainly be brought to observe <b>mammoth, dodos,</b> and other extinct species in our world.</p>
    </div>

    <div class="data-visualization">
        <div class="content">
            <div class="circle first left top speed2">60 °</div>
            <div class="circle right speed1">2 %</div>
            <div class="circle last right bottom left speed3">220 <span class="small">km/h</span></div>
            <ul class="title">
                <li>temperature</li>
                <li>humidity</li>
                <li>wind speed</li>
            </ul>
        </div>
    </div>

    <div class="bloc-info">
        <h3>Safety regulations</h3>
        <p>Be careful on the shivers and glacier erosion. Indeed, he can be current that the latter move very quickly and so cause cracks in which the capsule could be dropped. Avoid at all costs arising, even on a place which look solid. Nothing is stable in this dimension.</p>
    </div>

    <div class="slider autoplay">
        <ul>
            <div><img src="assets/images/preview-video.jpg" /></div>
            <li class="slide1">
                <img src="assets/images/d1-1.jpg" />
            </li>
            <li class="slide2">
                <img src="assets/images/d1-2.jpg" />
            </li>
            <li class="slide3">
                <img src="assets/images/d1-3.jpg" />
            </li>
        </ul>
    </div>

    <div class="bloc-info">
        <h3>Testimonies of test drivers</h3>
        <p><b>Aymeric 28-year-old:</b><br/>"What I saw overtakes any understanding, I really thank the climatic phenomenon which allowed the cast iron of ices, to live in a similar world … How awful! That really allowed me to be more clement on the weather of our own dimension ! I would never be disappointed on a rainy day, I shall say to myself that that could be much worse!"</p>
        <p class="margin"><b>Alice 56-year-old:</b><br/>"Being an real fan of the climatic phenomena, I was really excited at the idea of visiting a world where the ice age would not have come to an end ! And what I saw there did not disappoint me! The humanity always living with animal species present since the prehistory? That is what I was able to observe and trust me, it is really surprising!"</p>
    </div>
</section>


<footer>
    <div class="content">
        <div class="share">
            <h4>Share this amazing trip</h4>
            <div class="socialBtn">
                <div class="circle-btn icon-twitter"><a href="https://twitter.com/ema_project"></a></div>
                <div class="circle-btn icon-facebook"><a href="https://www.facebook.com/pages/EMA_Project/813429968735244"></a></div>
               <!-- <ul>
                    <li class="icon-twitter"></li>
                    <li class="icon-facebook"></li>
                </ul>-->
            </div>
        </div>
        <div class="separator"></div>
        <div class="contest">
            <h4>Win a trip !</h4>
            <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
        </div>
    </div>
    <div class="bottom bg2">
        <a href="" class="fullSizeLink dimensionLauncher"></a>
        <p>Discover an other dimension</p>
        <h3>2D world</h3>
    </div>
</footer>
