<header>
    <h1 class="md1">If... the ice age had not come to an end</h1>
    <div class="infos">
        <span class="circle">•</span>
        <span class="distance">#emaproject</span>
        <span class="separator">—</span>
        <span class="soon">soon</span>
    </div>
    <div class="color-filter"></div>
    <div class="bg1"></div>
</header>

<section class="informations">
    <div class="bloc-info">
        <p>Imagine you within a universe where the ice age would never have come to an end. A world where continents would not have derived and where the prehistoric species would have survived … Here is the kind of landscape to whom you will be face if you choose this destination.</p>
    </div>

    <div class="statistics">
        <div class="number">12</div>
        <div class="description">number of traveler having already visited this dimension.</div>
    </div>

    <div class="bloc-info">
        <h3>News</h3>
        <p>In this dimension the outside temperature approaches 60 °, the humidity is 2 %, and the wind speed is about 220km / hour.</p>
    </div>

    <div class="video">
        <video width="1920" height="1080" poster="assets/images/preview-video.jpg" controls preload>
            <source src="http://192.168.31.24:8888/ema/video.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
        </video>
        <p class="legend">trailer of EMA project</p>
    </div>

    <div class="bloc-info">
        <h3>Observations and possible meetings</h3>
        <p>In this dimension, you can observe if the human race was able to survive and if its the case by which ways. You can observe the present animal species and their evolution in this hostile world. You will certainly be brought to observe mammoth, dodos, and other extinct species in our world.</p>
    </div>

    <div class="data-visualization">
        <div class="content">
            <div class="circle first left top">60 °</div>
            <div class="circle right">2 %</div>
            <div class="circle last right bottom left">220 <span class="small">km/h</span></div>
            <ul class="title">
                <li>temperature</li>
                <li>humidity</li>
                <li>wind speed</li>
            </ul>
        </div>
    </div>

    <div class="bloc-info">
        <h3>Safety regulations</h3>
        <p>Be careful on the shivers and glacier erosion. Indeed, he can be current that the latter move very quickly and so cause cracks in which the capsule could be dropped. Avoid at all costs arising, even on a place which look solid. Nothing is stable in this dimension.</p>
    </div>

    <div class="slider autoplay">
        <ul>
            <div><img src="assets/images/preview-video.jpg" /></div>
            <li class="slide1">
                <img src="assets/images/d1-1.jpg" />
            </li>
            <li class="slide2">
                <img src="assets/images/d1-2.jpg" />
            </li>
            <li class="slide3">
                <img src="assets/images/d1-3.jpg" />
            </li>
        </ul>
    </div>

    <div class="bloc-info">
        <h3>Testimonies</h3>
        <p><b>Aymeric 28-year-old:</b><br/>"what I saw overtakes any understanding, I really thank the climatic phenomenon which allowed the cast iron of ices, to live in a similar world … How awful! That really allowed me to be more clement on the weather of our own dimension ! I would never be disappointed on a rainy day, I shall say to myself that that could be much worse! "</p>
        <p class="margin"><b>Alice 56-year-old</b><br/>"being an real fan of the climatic phenomena, I was really excited at the idea of visiting a world where the ice age would not have come to an end ! And what I saw there did not disappoint me! The humanity always living with animal species present since the prehistory? That is what I was able to observe and trust me, it is really surprising! "</p>
    </div>
</section>


<footer>
    <div class="content">
        <div class="share">
            <h4>Share this amazing trip</h4>
            <div class="socialBtn">
                <div class="circle-btn icon-twitter"></div>
                <div class="circle-btn icon-facebook"></div>
               <!-- <ul>
                    <li class="icon-twitter"></li>
                    <li class="icon-facebook"></li>
                </ul>-->
            </div>
        </div>
        <div class="separator"></div>
        <div class="contest">
            <h4>Win a trip !</h4>
            <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
        </div>
    </div>
    <div class="bottom bg1">
        <p>Découvrir une autre dimension</p>
        <h3>Le monde inversé</h3>
    </div>
</footer>
