<header>
    <h1 class="md3">If... we were living in a 2D world</h1>
    <div class="infos">
        <span class="circle">•</span>
        <span class="distance">#emaproject</span>
        <span class="separator">—</span>
        <span class="soon">soon</span>
    </div>
    <div class="color-filter"></div>
    <div class="bg3"></div>
</header>

<section class="informations">
    <div class="bloc-info">
        <p>Imagine a dimension where all <b>objects, humains, or animals were only in 2D.</b> A world where you never be able to change your direction, you must walk only on the same trajectory.</p>
    </div>

    <div class="statistics">
        <div class="number">28</div>
        <div class="description">number of <b>test drivers</b> having visited this dimension.</div>
    </div>

    <div class="bloc-info">
        <h3>News</h3>
        <p>In this dimension the <b>outside temperature</b> approaches 28 °, the <b>humidity</b> is today 10 %, and the <b>wind speed</b> is about 11km/hour.</p>
    </div>

    <div class="video">
        <video width="1920" height="1080" poster="assets/images/preview-video.jpg" controls preload>
            <source src="http://192.168.31.24:8888/ema/video.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
        </video>
        <p class="legend">EMA project's trailer</p>
    </div>

    <div class="bloc-info">
        <h3>Observations and possible meetings</h3>
        <p>In this dimension, you can have a <b>lot of fun</b> observing all the humanity and animals, and also vegetables being modelized only in 2D. <b>This dimension is really amusing !</b></p>
    </div>

    <div class="data-visualization">
        <div class="content">
            <div class="circle first bottom left speed2">28 °</div>
            <div class="circle top speed1">10 %</div>
            <div class="circle last right speed1">11 <span class="small">km/h</span></div>
            <ul class="title">
                <li>temperature</li>
                <li>humidity</li>
                <li>wind speed</li>
            </ul>
        </div>
    </div>

    <div class="bloc-info">
        <h3>Safety regulations</h3>
        <p>Be careful ! The only danger that you might be in front of is the <b>Pixelit.</b> The pixelit is a very dangerous disease you can contract. It appears when a 3D being touch a being of this dimension. <b>So don’t touch anything</b> or you may be transformed in a 2D human </p>
    </div>

    <div class="slider autoplay">
        <ul>
            <div><img src="assets/images/preview-video.jpg" /></div>
            <li class="slide1">
                <img src="assets/images/d3-1.jpg" />
            </li>
            <li class="slide2">
                <img src="assets/images/d3-2.jpg" />
            </li>
            <li class="slide3">
                <img src="assets/images/d3-3.jpg" />
            </li>
        </ul>
    </div>

    <div class="bloc-info">
        <h3>Testimonies of test drivers</h3>
        <p><b>Sophie 23-year-old:</b><br/>"It was so fun!! They were so ridiculous! I thank God for having invented the 3D! I’ve never laughed like this! After the trip, I discover that I had abdominal muscles!"</p>
        <p class="margin"><b>Eric 36-year-old:</b><br/>"Everyone must have seen this in his life!"</p>
    </div>
</section>

<footer>
    <div class="content">
        <div class="share">
            <h4>Share this amazing trip</h4>
            <div class="socialBtn">
                <div class="circle-btn icon-twitter"><a href="https://twitter.com/ema_project"></a></div>
                <div class="circle-btn icon-facebook"><a href="https://www.facebook.com/pages/EMA_Project/813429968735244"></a></div>
                <!-- <ul>
                     <li class="icon-twitter"></li>
                     <li class="icon-facebook"></li>
                 </ul>-->
            </div>
        </div>
        <div class="separator"></div>
        <div class="contest">
            <h4>Win a trip !</h4>
            <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
        </div>
    </div>
    <div class="bottom bg3 relative">
        <a href="" class="fullSizeLink dimensionLauncher" data-dimension="multidimensional-1"></a>
        <p>Discover an other dimension</p>
        <h3>Inversed World</h3>
    </div>
</footer>
