<header>
    <h1>L'ère glacière</h1>
    <div class="infos">
        <span class="circle">•</span>
        <span class="distance">2354435654547km</span>
        <span class="separator">—</span>
        <span class="soon">soon</span>
    </div>
    <div class="color-filter"></div>
    <div class="bg3"></div>
</header>

<section class="informations">
    <div class="bloc-info">
        <p>Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>mots importants missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">liens externes</a>, cum reniti non possent.</p>
    </div>

    <div class="statistics">
        <div class="number">-67</div>
        <div class="description">periculorum occultas perquam sagax.</div>
    </div>

    <div class="bloc-info">
        <p>Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>Brittanniam missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">Magnentio</a>, cum reniti non possent.</p>
    </div>

    <div class="video">
        <video width="1920" height="1080" poster="assets/images/preview-video.jpg" controls preload>
            <source src="http://192.168.31.24:8888/ema/video.mp4" type="video/mp4" />
            Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
        </video>
        <p class="legend">periculorum occultas  perquam sagax.</p>
    </div>

    <div class="bloc-info">
        <p>Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>Brittanniam missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">Magnentio</a>, cum reniti non possent.</p>
    </div>

    <div class="data-visualization">
        <div class="content">
            <div class="circle first" data-anim="base left">16</div>
            <div class="circle" data-anim="base right">230</div>
            <div class="circle last" data-anim="base right">3</div>
            <ul class="title">
                <li>perduceret</li>
                <li>perduceret</li>
                <li>perduceret</li>
            </ul>
        </div>
    </div>

    <div class="bloc-info">
        <p>Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>Brittanniam missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">Magnentio</a>, cum reniti non possent.</p>
    </div>

    <div class="slider autoplay">
        <ul>
            <div><img src="assets/images/preview-video.jpg" /></div>
            <li class="slide1">
                <img src="assets/images/d1-footer.jpg" />
            </li>
            <li class="slide2">
                <img src="assets/images/d1-header.jpg" />
            </li>
            <li class="slide3">
                <img src="assets/images/d1-header.jpg" />
            </li>
        </ul>
    </div>

    <div class="bloc-info">
        <p>Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>Brittanniam missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">Magnentio</a>, cum reniti non possent.</p>
        <p class="margin">Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in <b>Brittanniam missus</b> ut militares quosdam perduceret ausos conspirasse <a href="#">Magnentio</a>, cum reniti non possent.</p>
    </div>
</section>

<footer>
    <div class="content">
        <div class="share">
            <h4>Share this amazing trip</h4>
            <div class="socialBtn">
                <div class="circle-btn icon-twitter"></div>
                <div class="circle-btn icon-facebook"></div>
                <!-- <ul>
                     <li class="icon-twitter"></li>
                     <li class="icon-facebook"></li>
                 </ul>-->
            </div>
        </div>
        <div class="separator"></div>
        <div class="contest">
            <h4>Win a trip !</h4>
            <a class="btn btn-secondary btn-contest modal-contest-toggler" href="#">Check the contest</a>
        </div>
    </div>
    <div class="bottom bg3">
        <p>Découvrir une autre dimension</p>
        <h3>Le monde inversé</h3>
    </div>
</footer>
